.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #1f1f1f;
  color: white;
}

body {
  transition: background 0.3s, color 0.3s;
}

input[type="range"] {
  accent-color: #0d6efd;
}

#dayRangeLabel {
  margin-left: 6px;
}